<div class="main about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 thumbnail">
        <img src="http://gazettereview.com/wp-content/uploads/2016/03/facebook-avatar.jpg">
      </div>
      <div class="col-md-6">
        <h2>Hello. My name is <spam class="highlight">Rafael Montas</spam></h2>
        <p>I was born in 1975 in London and raised in Newcastle and Northumberland before moving to Macclesfield at 10. Dropped out and worked around from 16 on.</p>
        
      </div>
    </div>
  </div>
</div>