<div class="main portfolio">
  <div class="jumbotron slideshow">
    <div class="slideshow-container">
      <div class="my-slider">
       <img src="http://feelgrafix.com/data/landscape/landscape-4.jpg">
			</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <a href="#" class="col-md-6 project">
      	<div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
        </div>
        <div class="thumbnail">
          <img src="http://ibrandstudio.com/wp-content/uploads/2013/06/responsive-portfolio-websites-Michela-Chiucini-web-design.jpg">
        </div>
        <h3>TravelGos Booking App</h3>
        <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam </p>
      </a>
      <a href="#" class="col-md-6 project">
      	<div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
        </div>
        <div class="thumbnail">
          <img src="http://ibrandstudio.com/wp-content/uploads/2013/06/responsive-portfolio-websites-Michela-Chiucini-web-design.jpg">
        </div>
        <h3>TravelGos Booking App</h3>
        <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam </p>
      </a>
    </div>
    <div class="row">
      <a href="#" class="col-md-6 project">
      	<div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
        </div>
        <div class="thumbnail">
          <img src="http://ibrandstudio.com/wp-content/uploads/2013/06/responsive-portfolio-websites-Michela-Chiucini-web-design.jpg">
        </div>
        <h3>TravelGos Booking App</h3>
        <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam </p>
      </a>
      <a href="#" class="col-md-6 project">
      	<div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
        </div>
        <div class="thumbnail">
          <img src="http://ibrandstudio.com/wp-content/uploads/2013/06/responsive-portfolio-websites-Michela-Chiucini-web-design.jpg">
        </div>
        <h3>TravelGos Booking App</h3>
        <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam </p>
      </a>
    </div>
    <div class="row">
      <a href="#" class="col-md-6 project">
      	<div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
        </div>
        <div class="thumbnail">
          <img src="http://ibrandstudio.com/wp-content/uploads/2013/06/responsive-portfolio-websites-Michela-Chiucini-web-design.jpg">
        </div>
        <h3>TravelGos Booking App</h3>
        <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam </p>
      </a>
      <a href="#" class="col-md-6 project">
      	<div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
        </div>
        <div class="thumbnail">
          <img src="http://ibrandstudio.com/wp-content/uploads/2013/06/responsive-portfolio-websites-Michela-Chiucini-web-design.jpg">
        </div>
        <h3>TravelGos Booking App</h3>
        <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam </p>
      </a>
    </div>
  </div>
</div>